body, table, input {
    font-family: verdana, arial, serif;
    font-size: 12px;
}

body, table {
    color: #EEE;
    background-color: #000;
}

input, textarea {
    background-color: #FFF;
    color: #000;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    padding: 2px;
}

input[type="submit"] {
    background-color: #F0F1F2;
}

.content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
}

.alerts {
    position: absolute;
    width: 100%;
}

.alert {
    margin-bottom: 2px;
}

.main {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    border-collapse: separate;
    width: 600px;
}

a {
    text-decoration: underline;
}

th {
    font-weight: normal;
}

.cell {
    vertical-align: top;
}

.cell p:first-of-type {
    margin-top: 1em;
}

.cell p:last-of-type {
    margin-bottom: 0px;
}

.breadcrumb {
    margin-bottom: 0px;
    background-color: inherit;
}

.color-base {
    background-color: #2b3849
}

.color-contrast {
    background-color: #003;
}

.small {
    font-size: 11px;
    font-weight: normal;
}

.highlight {
    color: #C0C0C0;
    background-color: #003;
}

.banner {
    width: 470px;
    height: 165px;
    border: none;
}

.bold {
    font-weight: bold;
}

.header-topic {
    width: 350px;
}

.header-forum-name {
    width: 400px;
}

.header-forum-post-count {
    width: 50px;
}

.header-forum-updated {
    width: 150px;
}

.post-div {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1px;
    display: table;
}

.post-field-wrapper {
    text-align: left;
    float: left;
    clear: both;
    margin-bottom: 5px;
}

.post-badge-wrapper {
    float: right;
}

.post-field-wrapper label {
    display: block;
}

.post-div label {
    font-weight: normal;
}

:link {
    color: #9CF;
}

:visited {
    color: #69C;
}

a.convo-link {
    color: inherit;
    text-decoration: inherit;
}

.convo {
    padding-left: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
    font-weight: 400;
    color: #000;
    background-color: #E0E0E0;
    border: 1px solid #000;
}

.unread {
    background-color: #FFF;
    font-weight: bold;
}

.unread-message {
    background-color: #FFF;
}

.convo-title {
    font-size: 15px;
}

.message-header {
    display: block;
    float: left;
    text-decoration: underline;
}

.message-body {
    float: left;
    clear: both;
}

.clear-fix {
    clear: both;
}

.updated {
    display: block;
    float: right;
    padding-right: 10px;
}
