{% extends 'messaging/base.html' %}
{% block content %}
{% for conversation in conversations %}
<a href="{% url 'get-conversation-detail' conversation_id=conversation.id %}"
   class="convo-link">
<div class="convo {% if conversation.has_unread %}unread{% endif %}">
    <span class="convo-title {% if conversation.has_unread %}unread{% endif %}">
        {{ conversation.subject }}
    </span><br>
    <span class="convo-preview">
        {{ conversation.messages.all.0.sender.owner.username }}:
        {{ conversation.messages.all.0.content|truncatechars:100 }}
    </span>
    <div class="updated">
        {{ conversation.messages.all.0.updated|date:"D M d" }}
        {{ conversation.messages.all.0.updated|time:"H:i:s" }}
        {{ conversation.messages.all.0.updated|date:"Y e" }}
    </div>
</div>
</a>
{% endfor %}
<form action="{% url 'get-inbox-detail' %}" method="POST">
    {% csrf_token %}
    <div class="post-div">
        <div class="post-field-wrapper">
            {{ new_msg_form.send_to.label_tag }}
            {{ new_msg_form.send_to }}
        </div>
        <div class="post-field-wrapper">
            {{ new_msg_form.subject.label_tag }}
            {{ new_msg_form.subject }}
        </div>
        <div class="post-field-wrapper">
            {{ new_msg_form.content.label_tag }}
            {{ new_msg_form.content }}
        </div>
        <div class="post-field-wrapper">
            <input type="submit" value="Send Message">
        </div>
    </div>
</form>
{% endblock content %}
