{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Utopia Forums{% endblock title %}</title>
        <meta name="description" content="totally edgy 10/10 would read again">
        <meta name="keywords" content="UP, utopia politics, debate, politics, swirve, solaria">
        <link href="{% static 'forums/css/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div>
                <img src="http://utopiaforums.com/images/dark2.gif" class="banner" alt="Welcome to the Utopia Forums">
            </div>
            <p>Welcome to the Utopia Forums! <a href="http://google.com">Register a new account</a></p>
            <p>
                The current time is {% now "D M d H:i:s Y e" %}<br>
            </p>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
