{% extends 'forums/base.html' %}
{% load staticfiles %}

{% block content %}
{% block breadcrumb %}
<p class="breadcrumb">
    <a href="{% url 'get-forum-list' %}">Utopia Talk</a> /
    {{ forum.name }}
</p>
{% endblock breadcrumb %}
<table class="main">
    <thead>
        <tr class="color-contrast">
            <th class="header-topic">Topic</th>
            <th>Posts</th>
            <th>Originator</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
        {% for thread in threads %}
        <tr>
            <td class="color-base cell">
                <a href="{% url 'get-thread-detail' forum.slug thread.id %}">
                    {{ thread.title }}
                </a>
                {% if thread.is_sticky %}
                <span>(sticky)</span>
                {% endif %}
            </td>
            <td class="color-contrast cell">
                {{ thread.post_count }}
            </td>
            <td class="color-base cell">
                {{ thread.author.username }}
            </td>
            <td class="color-contrast cell">
                {{ thread.updated|date:"D M d" }} {{ thread.updated|time:"H:i:s" }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{% url 'get-forum-detail' forum_slug=forum.slug %}" method="POST">
    {% csrf_token %}
    {{ thread_form }}
    {{ post_form }}
    <input type="submit" value="Submit">
</form>
{% endblock content %}
