{% extends 'forums/base.html' %}
{% load static %}

{% block content %}
<table class="main">
    <thead>
        <tr class="color-contrast">
            <th class="header-forum-name">Message Area</th>
            <th class="header-forum-post-count">Posts</th>
            <th class="header-forum-updated">Last Post</th>
        </tr>
    </thead>
    <tbody>
        {% for forum in forums %}
        <tr>
            <td class="color-base cell">
                <a href="{% url 'get-forum-detail' forum.slug %}" class="bold">{{ forum.name }}</a>
                <br>{{ forum.tagline }}
            </td>
            <td class="color-contrast cell">{{ forum.post_count }}</td>
            <td class="color-base cell">
                {{ forum.updated|date:"D M d" }} {{ forum.updated|time:"H:i:s" }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
