{% extends 'forums/base.html' %}
{% load staticfiles %}
{% block title %}{{ block.super }} | {{ forum.name }} | {{ thread.title|truncatewords:5 }}{% endblock title %}

{% block content %}
{% block breadcrumb %}
<p class="breadcrumb">
    <a href="{% url 'get-forum-list' %}">Utopia Talk</a> /
    <a href="{% url 'get-forum-detail' forum.slug %}">{{ forum.name }}</a> /
    {{ thread.title }}
</p>
{% endblock breadcrumb %}
<table class="main">
    <thead>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th class="color-contrast cell bold">
                <span>{{ post.author }}</span><br>
                {% comment %}
                Add member tags
                {% endcomment %}
                <span class="small">Member</span>
            </th>
            <td class="color-base cell bold" width="400">
                <span class="small">
                    {{ post.created|date:"D M d, Y" }} {{ post.created|time:"H:i:s" }}
                </span><br>
                {{ post.content|linebreaks|urlize }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if posts.count < 100 %}
<form action="{% url 'get-thread-detail' forum_slug=forum.slug thread_id=thread.id %}"
      method="POST">
    {% csrf_token %}
    {% comment %}
    TODO: Flash all errors at the top of the page if they exist
    {% endcomment %}
    {% csrf_token %}
    <div class="post-div">
        {% include 'forums/login.html' %}
        <div class="post-badge-wrapper">
            <img src="{% static 'forums/img/reply.gif' %}" alt="Reply">
        </div>
        <div class="post-field-wrapper">
            {{ post_form.content.label_tag }}
            {{ post_form.content }}
        </div>
        <div class="post-field-wrapper">
            <input type="submit" value="Submit Reply">
        </div>
    </div>
</form>
{% else %}
<span>No mas posts por favor.</span>
{% endif %}
{% endblock content %}
